@tailwind base;
@tailwind components;
@tailwind utilities;

body, html{
    /* font-family: 'Anton', sans-serif; */
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 200;
}

.coso img {
    transition: transform 0.3s ease; /* Agrega una transición suave al cambio de escala */
}

.coso img:hover {
    transform: scale(1.2); /* Aumenta el tamaño al 120% al pasar el mouse sobre la imagen */
}



.hidden-div {
    opacity: 0;
    transform: translateX(-100%);
    animation: fadeInFromLeft 1s ease-out 1s forwards; /* La animación comienza después de 3 segundos y se mantiene en el último estado */
  }
  
  @keyframes fadeInFromLeft {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .hidden2-div {
    opacity: 0;
    transform: translateX(100%);
    animation: fadeInFromRight 1s ease-out 1s forwards; /* La animación comienza después de 1 segundo y se mantiene en el último estado */
  }
  
  @keyframes fadeInFromRight {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }